@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Golos+Text&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
    text-align: center;
	background-color: #ff6a00;
	color: #fff;
	padding: 20px;
    font-family: 'Gloock', serif;
}

h1 {
	margin: 0;
	font-size: 36px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.blog-text-div{
    text-align: center;
}

#date{
    margin-top: 1vh;
}

.blog-text{
    margin: 0;
    font-family: 'Golos Text', sans-serif;
}

.blog-desc{
	margin: 0;
    font-family: 'Golos Text', sans-serif;
	font-size: 15px;
	font-style: italic;
	width: 40vw;
	margin-left: 30vw;
	margin-bottom: 2vh;
}

.title-tags .tag{
    display: inline-block;
    margin: 0.4rem;
    background-color: #9c9c9c;
    border-radius: 5px;
    padding: 0.3rem;
    color: black;
    text-decoration: none;
	font-family: 'Golos Text', sans-serif;
	transition: color 0.1s ease;
}

.title-img{
    width: 50vw;
    position:absolute;
    left: 2vw;
    top: 25vh;
    float: left;
}

#main-body-div{
	width: 95vw;
	font-family: 'Golos Text', sans-serif;
}

#main-body-div p{
	font-size: 20px;
	display: inline-block;
	margin-left: 5vw;
}

#main-body-div a{
	font-size: 20px;
	text-decoration: none;
	color: grey;
	transition: color 0.1s ease;	
}

#main-body-div a:hover, .title-tags .tag:hover{
	color: rgb(230, 0, 0);
}