@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Golos+Text&display=swap');

picture{
	width: 100%;
}

/** CSS FOR HEADER **/
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    height: 100vh;    
}

header {
    text-align: center;
	background-color: #ff6a00;
	color: #fff;
	padding: 20px;
    font-family: 'Gloock', serif;
}

h1 {
	margin: 0;
	font-size: 36px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

/** CSS FOR EACH RESEARCH PAGE **/

.main-body-div #question{
	margin: auto;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.main-body-div #candidate-details{
	margin: auto;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    padding: 0.1vh;
    font-size: 0.9rem;
    font-weight: bold;
}

#selection{
	display: flex;
	justify-content: center;
	background-color: rgba(180, 180, 180, 0.5);
	margin: 1rem;
	border-radius: 5px;
	padding: 0.2rem;
}

#selection button{
	height: 15rem;
	width: 25rem;
	border-radius: 5px;
	border: transparent;
	margin: 0.2rem;
	font-family: 'Golos Text', sans-serif;
	font-size: 1rem;
	transition: all 0.3s;
}

#selection button:hover{
	background-color: black;
	color: white;
	font-weight: bolder;
	font-size: 2.5vw;
}

#selection button::before{
	--size: 0;
	content: '';
	position: absolute;
	left: var(--x);
	top: var(--y);
	width:var(--size);
	height: var(--size);
	background: radial-gradient(circle closest side, pink, transparent);
	transform: translate(-50%, -50%);
	transition: width 0.2s ease, height 0.2s ease;
}

#selection button:hover::before{
	--size: 200px;
}